<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" type ="image/png" href ="/static/images/user_content_images/cover.png">
    
    <script src="https://kit.fontawesome.com/15f6459f79.js" crossorigin="anonymous"></script>
    <script src="/static/js/validator.js" defer></script>
    <script src="/static/js/index.js" defer></script>
    
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/app.css">
    
    <meta property="og:url" content="https://20222web.eu.pythonanywhere.com/"/>
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Fake twitter"/>
	<meta property="og:description" content="Web development - school project"/>
	<meta property="og:image" content="https://20222web.eu.pythonanywhere.com/static/images/user_content_images/cover.png">

    <title>{{get("title", "No title")}}</title>
</head>
<body>
    <div class="spa-wrapper">